<div>
  <h1>
    {{title}}
  </h1>

  <input type="file" name="photo" ng2FileSelect [uploader]="uploader" />

  <button type="button" class="btn btn-success btn-s" (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">
    Upload
  </button>

  <a target="_self" [href]="href" 
     [download]="responseJson?.originalname" class="button">
     Download
  </a>
  
  <div *ngIf="responseJson">
      <br/>
    <img [src]="responseJson?.path">
  </div>

  
</div>

<input type="file" (change)="fileChangeEvent($event)" />
    <image-cropper
        style="width:500px"
        [imageChangedEvent]="imageChangedEvent"
        [maintainAspectRatio]="false"
        [resizeToWidth]="1024"
        format="png"
        (imageCropped)="imageCropped($event)"
    ></image-cropper>
    <img [src]="croppedImage" />
    <input [value]="croppedImage">
    <div>
      <p>Taken from wikpedia</p>
      <img src="data:image/png;base64, iVBORw0KGgoAAAANSUhEUgAAAAUA
  AAAFCAYAAACNbyblAAAAHElEQVQI12P4//8/w38GIAXDIBKE0DHxgljNBAAO
      9TXL0Y4OHwAAAABJRU5ErkJggg==" />
  </div> 