<div>
  <h1>
    {{title}}
  </h1>

  <input type="file" name="photo" ng2FileSelect [uploader]="uploader" />

  <button type="button" class="btn btn-success btn-s" (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">
    Upload
  </button>

  <a target="_self" [href]="href" 
     [download]="responseJson?.originalname" class="button">
     Download
  </a>
  
  <div *ngIf="responseJson">
      <br/>
    <img [src]="responseJson?.path">
  </div>

  
</div>

<!-- <input type="file" (change)="fileChangeEvent($event);" />

<image-cropper
    [imageChangedEvent]="imageChangedEvent"
    [maintainAspectRatio]="false"
    [aspectRatio]="4/3"
    [resizeToWidth]="512"
    format="jpg"
    (imageCropped)="imageCropped($event)"
></image-cropper>

<img [src]="croppedImage" hr/>
<a target="_self" [href]="croppedImage" 
     download="responseJson.png" class="button">
     Download
  </a> -->

  <!--  -->


  <!-- <div>
    <img-cropper [image]="data" [settings]="cropperSettings"></img-cropper><br>
    <img [src]="data.image" [width]="cropperSettings.croppedWidth" [height]="cropperSettings.croppedHeight">
</div>

<div class="file-upload">
  <span class="text">upload</span>
  <input id="custom-input" type="file" (change)="fileChangeListener($event)">
</div>
<img-cropper #cropper [image]="data" [settings]="cropperSettings"></img-cropper>
<br>
<span class="result rounded" *ngIf="data.image" >
  <img [src]="data.image" [width]="cropperSettings.croppedWidth" [height]="cropperSettings.croppedHeight">
</span> -->


<!--  -->


<input type="file" (change)="fileChangeEvent($event)" />
    <image-cropper
        style="width:500px"
        [imageChangedEvent]="imageChangedEvent"
        [maintainAspectRatio]="false"
        [resizeToWidth]="1024"
        format="png"
        (imageCropped)="imageCropped($event)"
    ></image-cropper>
    <img [src]="croppedImage" />